$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$dark-green: rgb(0, 100, 80);
$light: #f8f8f8;

$family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
$primary: $green;
$link: $turquoise;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
