@use 'theme' as theme;
@use 'bulma/sass' with (
  $family-primary: theme.$family-sans-serif,
  $primary: theme.$primary,
  $link: theme.$link,
  $control-border-width: theme.$control-border-width,
  $input-border-color: theme.$input-border-color,
  $input-shadow: theme.$input-shadow
);
@use 'main-styles';
@use 'maplibre-gl/dist/maplibre-gl.css';
